.app-switch-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 14px;
    border-radius: 8px;
}

.window-preview {
    padding: 14px;
}

.window-preview-container {
    border-radius: 2px;
}

.selected {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}